<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-appsettings"
    version="1.0.2">
    <name>Settings Plugin</name>
    <author>Wizky LLC</author>
    <description>Cordova Config.XML settings access Plugin</description>
    <license>MIT</license>
    <keywords>cordova,settings,appsettings,config.xml</keywords>
    <repo>https://github.com/mkliu/cordova-plugin-appsettings.git</repo>
    <issue>https://github.com/mkliu/cordova-plugin-appsettings/issues</issue>

    <js-module src="www/appsettings.js" name="AppSettings" >
        <clobbers target="AppSettings" />
    </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AppSettings" >
        <param name="android-package" value="org.apache.cordova.appsettings.AppSettings"/>
      </feature>
    </config-file>

    <source-file src="src/android/AppSettings.java" target-dir="src/org/apache/cordova/appsettings" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="AppSettings">
        <param name="ios-package" value="AppSettings"/>
      </feature>
    </config-file>

    <header-file src="src/ios/AppSettings.h" />
    <source-file src="src/ios/AppSettings.m" />
  </platform>

</plugin>
